hr.footer1{
    background-color: #c5c5c5;
}
hr.footer2{
    background-color: #c5c5c5;
    width: 100%;
}

div.site-footer{
    background-color: #333333;
    height: auto;
}
.fa-envelope::after{
  content: '\0000a0';
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 11px;
}
.fa-envelope{
  color: white;
  font-size: 14px;
}
.fa-phone{
  content: '\0000a0';
  margin-left: auto;
  display: inline-block;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.fa-phone-volume{
  color: #999999;
  font-size: 14px;
}

.footer{
    background-color: #242424;
}
.fa-facebook-f{
    text-align: center;
    color: 	#3b5998;
    color: white;
    display: inline-block;
    padding-top: 13px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #3b5998;
    font-size: 1.5rem;
}
.fa-facebook-f:hover{
    transform: scale(1.3);
    transition: all 2s ease;
}
.fa-youtube{
  text-align: center;
  color: 	#3b5998;
  color: white;
  display: inline-block;
  padding-top: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ff0000;
  font-size: 1.5rem;
}
.fa-youtube:hover{
    transform: scale(1.3);
    transition: all 2s ease;

}
.fa-linkedin-in{
  text-align: center;
  color: 	#3b5998;
  color: white;
  display: inline-block;
  padding-top: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0077b5;
  font-size: 1.5rem;
}
.fa-linkedin-in:hover{
    transform: scale(1.3);
    transition: all 2s ease;
}
.fa-twitter{
  text-align: center;
  color: 	#3b5998;
  color: white;
  display: inline-block;
  padding-top: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1da1f2;
  font-size: 1.5rem;
}
.fa-twitter:hover{
    transform: scale(1.3);
    transition: all 2s ease;
}
.fa-instagram{
  text-align: center;
  color: 	#3b5998;
  color: white;
  display: inline-block;
  padding-top: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e4405f;
  font-size: 1.7rem;
}
.fa-instagram:hover{
    transform: scale(1.3);
    transition: all 2s ease;
}

p.footer3{
  font-family: 'Open Sans', sans-serif;
  color: #999999;
  font-size: 12px;
}
p.footer3:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s ease;
    font-family: 'Open Sans', sans-serif;
}

p.footer-descripcion{
  font-size: 12px;
}

@media only screen and (min-width: 350px) and (max-width: 575px){
    p.footer1{
        font-size: 16px;
    }
    p.footer2{
        font-size: 18px;
    }
    p.footer3{
        font-size: 16px;
    }
    p.footer4{
        font-size:12px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px){
     .fa-envelope::after{
          font-size: 9px!important;
     }
     p.footer3{
         font-size: 10px;
     }
     p.footer-descripcion{
       font-size: 11px!important;
     }
}
@media only screen and (max-width: 767px){
     .fa-envelope::after{
          font-size: 12px;
     }
     .fa-phone-volume::after{
       font-size: 15px;
     }
}
     @media only screen and (max-width: 320px){
          .fa-envelope::after{
               font-size: 8px;
          }

          }
