/*MENU*/


/** Navegacion **/

nav {
    background-color: white!important;
    border-bottom: 1px solid rgb(233, 233, 233);
}
#logo-sustituir{
    display: none;
}
/* Segundo nivel **/


/*1600*/
@media only screen and (min-width: 1600px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }
    #logo-cabeza{
      padding-right: 50px!important;
      padding-left: 320px;
  }

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 16px!important;
    margin-top: 3px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}

/*1501-1599*/
@media only screen and (min-width: 1501px) and (max-width: 1599px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }
    #logo-cabeza{
      padding-right: 50px!important;
      padding-left: 250px;
  }

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 16px!important;
    margin-top: 3px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}
/*1400 1500*/
@media only screen and (min-width: 1400px) and (max-width: 1500px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }
    #logo-cabeza{
      padding-right: 20px!important;
      padding-left: 100px;
  }

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 16px!important;
    margin-top: 4px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}
/*1300 1399*/
@media only screen and (min-width: 1300px) and (max-width: 1399px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }
    #logo-cabeza{
      padding-right: 20px!important;
      padding-left: 100px;
  }

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 16px!important;
    margin-top: 5px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}
/*1200 1299*/
@media only screen and (min-width: 1200px) and (max-width: 1299px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }
    #logo-cabeza{
      padding-right: 20px!important;
      padding-left: 100px;
  }

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 14px!important;
    margin-top: 3px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}
/*1100 1199*/
@media only screen and (min-width: 1100px) and (max-width: 1199px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }


  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 14px!important;
    margin-top: 5px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1rem!important;
  }

}
/*1000 1099*/
@media only screen and (min-width: 1000px) and (max-width: 1099px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }


  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 13px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1rem!important;
  }

}
/*900 999*/
@media only screen and (min-width: 900px) and (max-width: 999px){

  nav{
    margin-left: 0px!important;
    height: 130px;
  }


  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size: 13px!important;
  }


  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt,
  .fa-angle-down {
      color: #666666;
      font-size: 1.4rem!important;
  }

}
@media only screen and (min-width: 768px) and (max-width: 900px){
  nav ul li:hover>ul {
      width: 600px!important;
      margin-top: 2px;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: rgb(35, 198, 247);
      display: block;
      border-radius: 10px;
      overflow: hidden;
  }
  .fa-graduation-capk:hover,
  .fa-graduation-cap:hover::after,
  .fa-briefcase:hover,
  .fa-briefcase:hover::after,
  .fa-comments:hover,
  .fa-comments:hover::after,
  .fa-cloud:hover,
  .fa-cloud:hover::after{
    background-color: white!important;
    color: #0b96ce!important;
    transition: all 2s ease;
    font-weight: bold;
  }
  .fa-graduation-cap,
  .fa-briefcase,
  .fa-comments{
      color: white!important;
      font-size: 1rem!important;
      background-color: #0b96ce!important;
      padding-top: 40px!important;
      padding-bottom: 40px!important;
      padding-left: 22px!important;
      padding-right: 22px!important;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
  }
  .fa-cloud {
      color: white!important;
      font-size: 1rem!important;
      background-color: #0b96ce!important;
      padding-top: 40px!important;
      padding-bottom: 40px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
  }
  .fa-download{
    width: 200px!important;
    color: white;
    font-size: 1rem!important;
    background-color: #0b96ce;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 7px solid rgb(35, 198, 247);
    overflow: hidden;
    margin: 0 auto!important;
    text-align: center;

  }
  .fa-question-circle{
    width: 200px!important;
    color: white;
    font-size: 1rem!important;
    background-color: #0b96ce;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 7px solid rgb(35, 198, 247);
    overflow: hidden;
    margin: 0 auto!important;
    text-align: center;
  }
  .fa-plus {
      width: 185px!important;
      color: white;
      font-size: 1rem!important;
      background-color: #0b96ce;
      padding-top: 40px;
      padding-bottom: 40px!important;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
      margin: 0 auto!important;
      text-align: center;

  }
  .fa-download:hover,
  .fa-download:hover::after,
  .fa-question-circle:hover,
  .fa-question-circle:hover::after,
  .fa-plus:hover,
  .fa-plus:hover::after{
    background-color: white;
    color: #0b96ce!important;
    transition: all 2s ease;
    font-weight: bold;
  }
  .fa-industry,
  .fa-user-tie,
  .fa-newspaper{
      color: white;
      font-size: 1.4rem!important;
      background-color: #0b96ce;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 145px!important;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
      margin: 0 auto!important;
      text-align: center;
  }
  .fa-phone-square {
      color: white;
      font-size: 1.4rem!important;
      background-color: #0b96ce;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 150px!important;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
      margin: 0 auto!important;
      text-align: center;
  }
  #industria {
      left: -300px!important;
  }
  #soporte {
      left: -398px!important;
  }
  #compania {
      left: -488px!important;
  }

}



@media only screen and (min-width: 768px) {

    nav ul li:hover>ul {
        width: 1000px;
        margin-top: 2px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgb(35, 198, 247);
        display: block;
        border-radius: 10px;
        overflow: hidden;
    }
    .fa-graduation-cap:hover,
    .fa-graduation-cap:hover::after,
    .fa-briefcase:hover,
    .fa-briefcase:hover::after,
    .fa-comments:hover,
    .fa-comments:hover::after,
    .fa-cloud:hover,
    .fa-cloud:hover::after{
      background-color: white;
      color: #0b96ce;
      transition: all 2s ease;
      font-weight: bold;
    }
    .fa-graduation-cap,
    .fa-briefcase,
    .fa-comments {
        color: white;
        font-size: 1.4rem;
        background-color: #0b96ce;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 68px;
        padding-right: 69px;
        border-top: 7px solid rgb(35, 198, 247);
        overflow: hidden;
    }
    .fa-cloud {
        color: white;
        font-size: 1.4rem;
        background-color: #0b96ce;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 68px;
        padding-right: 65px;
        border-top: 7px solid rgb(35, 198, 247);
        overflow: hidden;
    }
    .fa-download{
      width: 325px;
      color: white;
      font-size: 1.4rem;
      background-color: #0b96ce;
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
      margin: 0 auto!important;
      text-align: center;

    }
    .fa-question-circle{
      width: 325px;
      color: white;
      font-size: 1.4rem;
      background-color: #0b96ce;
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 7px solid rgb(35, 198, 247);
      overflow: hidden;
      margin: 0 auto!important;
      text-align: center;
    }
    .fa-plus {
        width: 337px;
        color: white;
        font-size: 1.4rem;
        background-color: #0b96ce;
        padding-top: 40px;
        padding-bottom: 40px!important;
        border-top: 7px solid rgb(35, 198, 247);
        overflow: hidden;
        margin: 0 auto!important;
        text-align: center;

    }
    .fa-download:hover,
    .fa-download:hover::after,
    .fa-question-circle:hover,
    .fa-question-circle:hover::after,
    .fa-plus:hover,
    .fa-plus:hover::after{
      background-color: white;
      color: #0b96ce!important;
      transition: all 2s ease;
      font-weight: bold;
    }

    .fa-industry,
    .fa-user-tie,
    .fa-newspaper{
        color: white;
        font-size: 1.4rem;
        background-color: #0b96ce;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 250px;
        border-top: 7px solid rgb(35, 198, 247);
        overflow: hidden;
        margin: 0 auto!important;
        text-align: center;
    }
    .fa-phone-square {
        color: white;
        font-size: 1.4rem;
        background-color: #0b96ce;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 235px;
        border-top: 7px solid rgb(35, 198, 247);
        overflow: hidden;
        margin: 0 auto!important;
        text-align: center;
    }

    .fa-industry:hover,
    .fa-industry:hover::after,
    .fa-user-tie:hover,
    .fa-user-tie:hover::after,
    .fa-newspaper:hover,
    .fa-newspaper:hover::after,
    .fa-phone-square:hover,
    .fa-phone-square:hover::after{
      background-color: white;
      color: #0b96ce!important;
      transition: all 2s ease;
      font-weight: bold;
    }


    nav ul li ul li {
        display: inline-block;
    }
    nav ul li {
        margin-left: auto;
        margin-right: auto;
    }
    #industria {
        left: -490px;
    }
    #soporte {
        left: -637px;
    }
    #compania {
        left: -710px;
    }
    li.dropdown {
        margin-right: 20px;
        margin-left: auto;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    a.casos-exito {
        margin-right: auto;
        margin-left: -10px;
    }
    /*iconos menu*/
    .fa-home,
    .fa-stop,
    .fa-building,
    .fa-user-shield,
    .fa-calendar-alt,
    .fa-angle-down {
        color: #666666;
        font-size: 16px;
    }
    .fa-building {
        margin-right: 0;
        margin-left: 5px;
    }
    .fa-home::after {
        content: '\0000a0' 'Inicio';
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-stop::after {
        content: '\0000a0' 'Productos';
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-building::after {
        content: '\0000a0' 'Industrias';
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-graduation-cap::after {
        content: '\0000a0''\0000a0''Educación';
        white-space: pre;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-briefcase::after {
        content: '\0000a0''\0000a0' 'Pymes';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-comments::after {
        content: '\0000a0''\0000a0' 'Servicios';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-cloud::after {
        content: '\0000a0''\0000a0' 'Espacio público';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 15px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-user-shield::after {
        content: '\0000a0' 'Soporte';
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-download::after {
        content: '\0000a0' '\0000a0' 'Guía de Instalación y Descargas';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-question-circle::after {
        content: '\0000a0' '\0000a0' 'Preguntas frecuentes';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-plus::after {
        content: '\0000a0' '\0000a0' 'Complementos';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-calendar-alt::after {
        content: '\0000a0' 'Compañia';
        color: #666666;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-industry::after {
        content: '\0000a0' '\0000a0' 'Nosotros';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-user-tie::after {
        content: '\0000a0' '\0000a0' 'Ser partner';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-newspaper::after {
        content: '\0000a0' '\0000a0' 'Noticias';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-right: 0px;
        padding-left: auto;
        padding-right: auto;
    }
    .fa-phone-square::after {
        content: '\0000a0' '\0000a0' 'Contacto';
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        margin-right: 0px;
        font-size: 16px;
        padding-left: auto;
        padding-right: auto;
    }

}










@media only screen and (max-width: 767px) {
    a.nav-link {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    a.nav-link.home {
        margin-bottom: 40px!important;
    }
    a.nav-link.productos {
        margin-top: -55px!important;
        margin-bottom: 17px!important;
    }
    a.nav-link.casos-exito {
        margin-top: -25px!important;
    }
    li.dropdown {
        margin-right: 0;
        margin-left: 0;
        margin-top: -20px!important;
        margin-bottom: 30px!important;
    }
    .fa-home::after {
        content: '\0000a0' 'Inicio';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-stop::after {
        content: '\0000a0' 'Productos';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-building::after {
        content: '\0000a0' 'Industrias';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-graduation-cap::after {
        content: '\0000a0' 'Educación';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-briefcase::after {
        content: '\0000a0' 'Pymes';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-comments::after {
        content: '\0000a0' 'Servicios';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-cloud::after {
        content: '\0000a0' 'Espacios públicos';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-user-shield::after {
        content: '\0000a0' 'Soporte';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-download::after {
        content: '\0000a0' 'Descargas';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-question-circle::after {
        content: '\0000a0' 'Preguntas frecuentes';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-plus::after {
        content: '\0000a0' 'Complementos';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-calendar-alt::after {
        content: '\0000a0' 'Compañia';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-industry::after {
        content: '\0000a0' 'Nosotros';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-user-tie::after {
        content: '\0000a0' 'Ser partner';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-newspaper::after {
        content: '\0000a0''Noticias';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-phone-square::after {
        content: '\0000a0' 'Contacto';
        color: #666666!important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
    }
    .fa-home,
    .fa-stop,
    .fa-building,
    .fa-user-shield,
    .fa-calendar-alt,
    .fa-angle-down,
    .fa-graduation-capk,
    .fa-briefcase,
    .fa-comments,
    .fa-cloud,
    .fa-download,
    .fa-question-circle,
    .fa-plus,
    .fa-industry,
    .fa-user-tie,
    .fa-newspaper,
    .fa-phone-square {
        color: #666666!important;
        font-size: 16px;
    }
    .fa-download::after,
    .fa-question-circle::after,
    .fa-plus::after,
    .fa-industry::after,
    .fa-user-tie::after,
    .fa-newspaper::after,
    .fa-phone-square::after,
    .fa-graduation-cap::after,
    .fa-briefcase::after,
    .fa-comments::after,
    .fa-cloud::after {
        color: #666666!important;
    }
}



@media only screen and (min-width: 768px) and (max-width: 900px){

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after{
      font-size: 12px!important;

  }
  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt{
    margin-top: 80px!important;
    font-size: 16px!important;

      
  }
  #logo-cabeza{
display: none!important;
}
#menu-casos{
    margin-top: 80px!important;
    font-size:12px!important;
}
#logo-sustituir{
    display: block;
    margin-left: 230px;
    margin-top: -90px!important;
    margin-bottom: 0px;
    width:170px!important;
}
#industria {
    left: -260px!important;
}
#soporte {
    left: -370px!important;
}
#compania {
    left: -460px!important;
}
nav.navbar{
    margin-left: -230px!important;
    padding-bottom: 0px!important;
    margin-bottom: 50px!important;
}
}
@media only screen and (min-width: 901px) and (max-width: 1000px){

  .fa-home::after,
  .fa-stop::after,
  .fa-building::after,
  .fa-user-shield::after,
  .fa-calendar-alt::after,
  #menu-casos{
    font-size:11px!important;

  }
  #logo-cabeza{
      margin-left: -5px;
  }
  .fa-home,
  .fa-stop,
  .fa-building,
  .fa-user-shield,
  .fa-calendar-alt{
      font-size: 17px!important;
}
}